h2 {
    color: #7BFBFF;
}

.spacer {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
        width: 100%;
    }
}
.container-main{
    width: 90%;
    margin: 0 auto;
}