<div class="toolbar" role="banner">
  <!-- Highlight Card -->
  <div class="card highlight-card">
    <img class="nav-img" alt="Logo" src="../assets/logo.png" />
    <div style="text-align: center;">
      <p class="title">Search LuckyTrip</p>
      <p class="sub-title">350 destinations, 1500 blog posts, Unlimited Trips</p>
      <div class="search-input">
        <input type="text">
        <!-- <button>GO</button> -->
        <input type="submit" value="GO">
      </div>
    </div>
  </div>
</div>
<div class="content" role="main">
  <!-- Trending -->
  <div>
    <h2>Trending</h2>
    <div class="card-container">
      <app-card img="x"></app-card>
      <app-card img="x"></app-card>
      <app-card img="x"></app-card>
    </div>
  </div>
</div>


<router-outlet></router-outlet>