/* You can add global styles to this file, and also import other style files */
body{
    margin: unset;
    background-color: black;
}
::placeholder{
    color: white;
    opacity: 0.8;
    font-size: 15px;
}